---
http_interactions:
- request:
    method: post
    uri: https://staging.physitrack.com/api/v2/clients/7999/programs
    body:
      encoding: UTF-8
      string: '{"template_id":1148,"external_id":"assign_program_id-123","start_date":"2018-06-19","num_weeks":12,"track_adherence":true,"track_pain_levels":true}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - W/"5dccf7c5c60f2efb38c8ea0b531a3168"
    body:
      encoding: UTF-8
      string: '{"id":7707,"external_id":"assign_program_id-123","template_id":1148,"name":"Foot
        fracture","access_code":"xbxyopsp","start_date":"2018-06-19T00:00:00Z","end_date":"2018-09-10T00:00:00Z","track_adherence":true,"track_pain_levels":true,"access_code_sent_date":"2018-06-19T07:32:19Z","access_code_sent_via":"email","last_access_date":null}'
  recorded_at: Tue, 19 Jun 2018 07:32:11 GMT
recorded_with: VCR 3.0.3
