---
http_interactions:
- request:
    method: post
    uri: https://staging.physitrack.com/api/v2/clients/
    body:
      encoding: UTF-8
      string: '{"external_id":"jane_app_id_123","first_name":"John","last_name":"Trevor","year_of_birth":1990,"gender":"m","email":"john@janeapp.com"}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - W/"991ae06d52cea4cd6f189f481d3cdb61"
    body:
      encoding: UTF-8
      string: '{"id":8235,"external_id":"jane_app_id_123","first_name":"John","last_name":"Trevor","year_of_birth":1990,"gender":"m","email":"john@janeapp.com","mobile_phone":null,"last_seen":null,"current_access_code":null,"program_end_date":null}'
  recorded_at: Tue, 19 Jun 2018 07:25:03 GMT
recorded_with: VCR 3.0.3
