---
http_interactions:
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/8205/messages/15330
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"56396c1b55109683828506c9abf058a2"
    body:
      encoding: UTF-8
      string: '{"id":"15330","body":"Good Job on the workout","pain_level":null,"call_duration":null,"sender_type":"practitioner","sender_email":"jason@janeapp.com","created":"2018-06-15T04:00:08Z","exercise_name":null,"exercise_id":null,"access_code":"enyjeaor","video_call":false}'
  recorded_at: Sat, 16 Jun 2018 20:01:55 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/12345/messages/15330
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Client with given id does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 20:01:55 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/8205/messages/12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Message with given id does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 20:01:56 GMT
recorded_with: VCR 3.0.3
