---
http_interactions:
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/7961
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"a17e3b6745863d1c0f7e33dc67500908"
    body:
      encoding: UTF-8
      string: '{"id":7961,"external_id":"1-103","first_name":"Gilfoyle","last_name":"Bertram","year_of_birth":1977,"gender":"m","email":"jason+gilfoyle@janeapp.com","mobile_phone":null,"last_seen":"2018-06-14T01:57:35Z","current_access_code":"jccnkbas","program_end_date":"2018-07-09T00:00:00Z"}'
  recorded_at: Tue, 19 Jun 2018 07:15:17 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/98765
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Client with given id does not exist"]}'
  recorded_at: Tue, 19 Jun 2018 07:15:39 GMT
recorded_with: VCR 3.0.3
