---
http_interactions:
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/templates/27539
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"326f39d0a34261257f845f436018ae3f"
    body:
      encoding: UTF-8
      string: '{"id":27539,"name":"Derp Derp Derp Cardio","description":"","author":"Gary
        Roberts","author_email":"jason@janeapp.com","type":"weekly","last_modified_date":"2018-06-14T07:29:41Z","exercises":[{"id":13125,"name":"2
        jump 1 back over hurdles","difficulty":"advanced"},{"id":11757,"name":"1-2-3-hold
        on trampette","difficulty":"intermediate"},{"id":12634,"name":"360 degree
        turn","difficulty":"beginner"},{"id":12633,"name":"180 degree turn","difficulty":"beginner"}],"proms":[],"educational_content":[]}'
  recorded_at: Sat, 16 Jun 2018 20:16:08 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/templates/12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Template with given id does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 20:16:09 GMT
recorded_with: VCR 3.0.3
