---
http_interactions:
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/8205/programs/enyjeaor/proms/2166/results
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"ec75e21502d21a14711a3606e9fa50c9"
    body:
      encoding: UTF-8
      string: '{"results":[{"date_assigned":"2018-06-14T00:00:00Z","date_completed":"2018-06-15T03:25:47Z","score":24.0}]}'
  recorded_at: Sat, 16 Jun 2018 18:53:39 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/12345/programs/enyjeaor/proms/2166/results
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Client with given id does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 18:53:40 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/8205/programs/nah_son/proms/2166/results
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Program with given access code does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 18:53:40 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/8205/programs/enyjeaor/proms/5253/results
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["PROM with given id does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 18:53:41 GMT
recorded_with: VCR 3.0.3
