---
http_interactions:
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/events/2330
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"1fc4cef70f02f961218ee8ecf5c955bc"
    body:
      encoding: UTF-8
      string: '{"id":2330,"type":"new_program_assigned","created":"2018-06-12T22:20:08Z","data":{"id":7530,"external_id":null,"template_id":1180,"author":"Gary
        Roberts","author_email":"jason@janeapp.com","name":"Total body circuit","access_code":"jccnkbas","start_date":"2018-06-12T00:00:00Z","end_date":"2018-07-09T00:00:00Z","track_adherence":true,"track_pain_levels":true,"access_code_sent_date":null,"access_code_sent_via":null,"last_access_date":null,"avg_adherence":null},"practitioner_id":7960,"url":"/api/v2/clients/7961/programs/jccnkbas"}'
  recorded_at: Sat, 16 Jun 2018 20:25:42 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/events/12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Event with given id does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 20:25:42 GMT
recorded_with: VCR 3.0.3
