---
http_interactions:
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/7972/programs/zppvoxgj/exercises
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"8b83e7a6648667a13d7f678290e4e3a1"
    body:
      encoding: UTF-8
      string: '{"schedule_type":"weekly","weeks":[{"days":[{"date":"2018-06-14T00:00:00Z","exercises":[]},{"date":"2018-06-15T00:00:00Z","exercises":[{"name":"Jumping
        jacks","reps":20,"sets":3,"duration":null,"hold":null,"thr":null,"rpe":null,"id":"11182","weight":null}]},{"date":"2018-06-16T00:00:00Z","exercises":[]},{"date":"2018-06-17T00:00:00Z","exercises":[]},{"date":"2018-06-18T00:00:00Z","exercises":[]},{"date":"2018-06-19T00:00:00Z","exercises":[{"name":"Jumping
        jacks","reps":20,"sets":3,"duration":null,"hold":null,"thr":null,"rpe":null,"id":"11182","weight":null}]},{"date":"2018-06-20T00:00:00Z","exercises":[]}]},{"days":[{"date":"2018-06-21T00:00:00Z","exercises":[]},{"date":"2018-06-22T00:00:00Z","exercises":[{"name":"Jumping
        jacks","reps":20,"sets":3,"duration":null,"hold":null,"thr":null,"rpe":null,"id":"11182","weight":null}]},{"date":"2018-06-23T00:00:00Z","exercises":[]},{"date":"2018-06-24T00:00:00Z","exercises":[]},{"date":"2018-06-25T00:00:00Z","exercises":[]},{"date":"2018-06-26T00:00:00Z","exercises":[{"name":"Jumping
        jacks","reps":20,"sets":3,"duration":null,"hold":null,"thr":null,"rpe":null,"id":"11182","weight":null}]},{"date":"2018-06-27T00:00:00Z","exercises":[]}]}]}'
  recorded_at: Sat, 16 Jun 2018 17:56:29 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/7972/programs/zppvoxgj/exercises?format=pdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"url":"https://physitrackuploads.s3.amazonaws.com/pdfs/d0ce347379938c95b88690f95065847c.pdf"}'
  recorded_at: Sat, 16 Jun 2018 17:56:30 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/12345/programs/zppvoxgj/exercises
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Client with given id does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 17:56:31 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/12345/programs/nah_son/exercises
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Client with given id does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 17:56:31 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/7999/programs/zppvoxgj/exercises
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Program with given access code does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 17:56:32 GMT
recorded_with: VCR 3.0.3
