---
http_interactions:
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/7972/programs/zppvoxgj/adherence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"92d176168a7e052d4c8181cd997450c3"
    body:
      encoding: UTF-8
      string: '{"avg_adherence_last_three_days":0,"avg_adherence":0,"days":[{"date":"2018-06-15T00:00:00Z","exercises":[]}]}'
  recorded_at: Sat, 16 Jun 2018 18:24:00 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/12345/programs/zppvoxgj/adherence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Client with given id does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 18:24:00 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/12345/programs/nah_son/adherence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Client with given id does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 18:24:01 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/7999/programs/zppvoxgj/adherence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Program with given access code does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 18:24:02 GMT
recorded_with: VCR 3.0.3
