---
http_interactions:
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/8205/programs/enyjeaor/proms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"1858edbd7012b62389627c646fa7c207"
    body:
      encoding: UTF-8
      string: '{"proms":[{"id":2168,"name":"Hip disability and Osteoarthritis Outcome
        Score (HOOS)"},{"id":2166,"name":"Back Pain Index"},{"id":2167,"name":"DRAM
        (Distress and Risk Assessment Method)"}]}'
  recorded_at: Sat, 16 Jun 2018 19:04:50 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/12345/programs/enyjeaor/proms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Client with given id does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 19:04:51 GMT
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/8205/programs/nah_son/proms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Program with given access code does not exist"]}'
  recorded_at: Sat, 16 Jun 2018 19:04:51 GMT
recorded_with: VCR 3.0.3
