---
http_interactions:
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"7dc46efbe926fee268705303aa39c9a0"
    body:
      encoding: UTF-8
      string: '{"clients":[{"id":7961,"external_id":"1-103","first_name":"Gilfoyle","last_name":"Bertram","year_of_birth":1977,"gender":"m","email":"jason+gilfoyle@janeapp.com","mobile_phone":null,"last_seen":"2018-06-14T01:57:35Z","current_access_code":"jccnkbas","program_end_date":"2018-07-09T00:00:00Z"},{"id":7962,"external_id":"7e39","first_name":"Moshe","last_name":"Collins","year_of_birth":1905,"gender":"f","email":null,"mobile_phone":null,"last_seen":null,"current_access_code":null,"program_end_date":null},{"id":7963,"external_id":"314d","first_name":"Nickolas","last_name":"Marks","year_of_birth":1983,"gender":"f","email":null,"mobile_phone":null,"last_seen":null,"current_access_code":null,"program_end_date":null},{"id":7964,"external_id":"964c","first_name":"Salvato[...]
[...]
