---
http_interactions:
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/events?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"747c41d67d45fef7cbf279a6e5398a8b"
    body:
      encoding: UTF-8
      string: '{"events":[{"id":2329,"type":"new_client_created","created":"2018-06-12T20:36:05Z","data":{"id":7961,"external_id":"1-103","first_name":"Gilfoyle","last_name":"Bertram","gender":"m","year_of_birth":1977,"email":"gilfoyle@piedpiper.com","mobile_phone":null},"practitioner_id":7960,"url":"/api/v2/clients/7961"},{"id":2330,"type":"new_program_assigned","created":"2018-06-12T22:20:08Z","data":{"id":7530,"external_id":null,"template_id":1180,"author":"Gary
        Roberts","author_email":"jason@janeapp.com","name":"Total body circuit","access_code":"jccnkbas","start_date":"2018-06-12T00:00:00Z","end_date":"2018-07-09T00:00:00Z","track_adherence":true,"track_pain_levels":true,"access_code_sent_date":null,"access_code_sent_via":null,"last_access_date":null,"avg_adherence":null},"practitioner_id":7960,"url":"/api/v2/clients/7961/programs/jccnkbas"},{"id":2331,"type":"program_updated","created":"2018-06-12T22:20:23Z","data":{"id":7530,"external_id":null,"template_id":1180,"author":"Gary
        Roberts","author_email":"jason@janeapp.com","name":"Total body circuit","access_code":"jccnkbas","start_date":"2018-06-12T00:00:00Z","end_date":"2018-07-09T00:00:00Z","track_adherence":true,"track_pain_levels":true,"access_code_sent_date":null,"access_code_sent_via":null,"la[...]
[...]
