---
http_interactions:
- request:
    method: get
    uri: https://staging.physitrack.com/api/v2/clients/8224/programs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"87505264fbac7c8f6aef07970d6883a8"
    body:
      encoding: UTF-8
      string: '{"programs":[{"id":7596,"external_id":"test_1","template_id":1262,"name":"Relaxed
        breathing \u0026 nasal preparation","access_code":"ohidcced","start_date":"2018-06-14T00:00:00Z","end_date":"2018-07-13T00:00:00Z","track_adherence":true,"track_pain_levels":true,"access_code_sent_date":"2018-06-17T22:07:22Z","access_code_sent_via":"email","last_access_date":"2018-06-15T03:08:44Z"}]}'
  recorded_at: Tue, 19 Jun 2018 07:31:12 GMT
recorded_with: VCR 3.0.3
