---
http_interactions:
- request:
    method: put
    uri: https://staging.physitrack.com/api/v2/clients/7999/programs/eesmsfqb
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"9a6bedec25214238c9ae902a4c48ba3c"
    body:
      encoding: UTF-8
      string: '{"id":7637,"external_id":"assign_program_id-123","template_id":1148,"name":"Foot
        fracture","access_code":"eesmsfqb","start_date":"2018-06-15T00:00:00Z","end_date":"2018-09-14T00:00:00Z","track_adherence":true,"track_pain_levels":true,"access_code_sent_date":"2018-06-16T00:06:10Z","access_code_sent_via":"email","last_access_date":null}'
  recorded_at: Sat, 16 Jun 2018 00:42:45 GMT
- request:
    method: put
    uri: https://staging.physitrack.com/api/v2/clients/7999/programs/spimyean
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"d714dd2cee950fd85c87e3eaafdcdf3f"
    body:
      encoding: UTF-8
      string: '{"id":7639,"external_id":"test_1","template_id":1200,"name":"Core stability
        programme - advanced (Aquatic therapy)","access_code":"spimyean","start_date":"2018-06-15T00:00:00Z","end_date":"2018-08-09T00:00:00Z","track_adherence":true,"track_pain_levels":true,"access_code_sent_date":"2018-06-16T00:44:08Z","access_code_sent_via":"email","last_access_date":null}'
  recorded_at: Sat, 16 Jun 2018 00:44:43 GMT
recorded_with: VCR 3.0.3
