---
http_interactions:
- request:
    method: put
    uri: https://staging.physitrack.com/api/v2/clients/7999
    body:
      encoding: UTF-8
      string: '{"external_id":"update_client-123","first_name":"Geoff","last_name":"Stalk","year_of_birth":1968,"gender":"m","email":"geoff@janeapp.com"}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - valid_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"238a8d2b1828bef4e233013444cb8cb2"
    body:
      encoding: UTF-8
      string: '{"id":7999,"external_id":"update_client-123","first_name":"Geoff","last_name":"Stalk","year_of_birth":1968,"gender":"m","email":"geoff@janeapp.com","mobile_phone":null,"last_seen":"2018-06-16T00:51:18Z","current_access_code":"spimyean","program_end_date":"2018-08-09T00:00:00Z"}'
  recorded_at: Tue, 19 Jun 2018 07:29:16 GMT
recorded_with: VCR 3.0.3
